body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/176/927/original/blue-and-white-abstract-background-vector.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Animação abaixo de itens na navbar */
li,
#navttl,
nav div span {
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

li::after,
#navttl::after,
nav div span::after {
    background-color: black;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after,
#navttl:hover::after,
nav div span:hover::after {
    width: 100%;
}

#navttl {
    color: black;
}

#abtme {
    font-weight: bold;
    margin-bottom: 0px !important;
}

/* Transição de cor no email*/

.shadnglink {
    color: rgba(0, 0, 0, .5) !important;
    transition: 0.4s ease;
}

.shadnglink:hover {
    color: black !important;
}

/* Tamanhos */
#sidenav {
    text-align: left;
    width: 250px;
    background-color: #47b2ca;
    color: #fff;
    max-width: 320px;
    padding: 0px;
}

/* Texto principal */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contentsidenav {
    padding: 20px;
}

.toptxtsdnv {
    margin: 0px;
    padding-bottom: 0.7rem !important;
}.btmtxtsdnv{color: rgba(255,255,255,0.6);}

#sdnvhdr {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Cor de fundo da navbar e footer */
#ftrbtm,
#nvbrtop {
    background-color: #fff;
    padding: 0px 1rem;
}

/* Centralização dos itens da navbar*/
nav div ul li {
    margin-left: 3.1rem;
    white-space: nowrap;
}

@media screen and (max-width:650px) {
    nav div ul li {
        margin: 0px;
    }
}

@media screen and (max-width:600px) {
    nav div ul li {
        padding: 0px;
    }
}

@media screen and (max-width:575px) {
    #navttl {
        margin-left: 0px !important;
    }
}

@media screen and (min-width:575px) {
    #nvbrtop {
        height: 10vh;
    }

    #sidenav {
        height: 90vh;
        justify-content: center;
    }
}