body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/176/927/original/blue-and-white-abstract-background-vector.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Animação abaixo de itens na navbar */
li,
#navttl,
nav div span {
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

li::after,
#navttl::after,
nav div span::after {
    background-color: black;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after,
#navttl:hover::after,
nav div span:hover::after {
    width: 100%;
}

#navttl {
    color: black;
}

#abtme {
    font-weight: bold;
}

/* Transição de cor no email*/

.shadnglink {
    color: rgba(0,0,0,.5) !important;
    transition: 0.4s ease;
}

.shadnglink:hover {
    color: black !important;
}

/* Texto principal */

h1 {
    text-align: center;
    padding-top: 10rem;
}

.olamundo {
    text-align: center;
    font-size: 2.2rem;
    font-family: "PT Sans Narrow", sans-serif;
}

/* Cor de fundo da navbar e footer */
#ftrbtm,
#nvbrtop {
    background-color: #fff;
    padding: 0px 1rem;
}

/* Centralização dos itens da navbar*/
nav div ul li {
    margin-left: 3.1rem;
}

@media screen and (max-width:570px) {
    nav div ul li {
        margin: 0px;
    }
}